/***************!
    JS Geocoder
    -----------
    Author:     pborbely@fairfaxmedia.com.au
    Born:       August 2014
    Version:    0.3

    Notes, Dependencies, Credits
    -----------
    jQuery 1.11.2               http://code.jquery.com/jquery-1.11.2.min.js
    Papaparse:                  http://papaparse.com/
    Google Maps API Geocoder:   https://maps.googleapis.com/maps/api/js
    HTML5 File API:             http://dev.w3.org/2009/dap/file-system/file-dir-sys.html
    File API support:           https://maps.googleapis.com/maps/api/js
    Download function:          http://danml.com/js/download.js
    -----------
    (C) 2015 Peter Borbely
    http://opensource.org/licenses/GPL-3.0

*****************/

@charset "UTF-8";
*, *:after:, *:before {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

*, html, body {
    margin:0;
    padding:0;
    /*font-family: monospace, sans-serif;*/
    font-family: 'Trebuchet MS', Tahoma, 'Futura', sans-serif;
    color:antiquewhite;
    /*background-color: rgba(197, 140, 101, 1);*/
}

body {
    background-color: transparent;
    background-image: url(./world-watercolour.jpg);
    background-position: 50% 0;
    background-repeat:no-repeat;
    background-size: cover;    
    color:antiquewhite;
    background-color: rgba(197, 140, 101, 1);    
    overflow: hidden;
    width: 100%;
    height:100%;
}

.wrap {
    margin: -4px auto 0;
    padding: 10px 20px;
    width: 620px;
    height: 100vh;
    height: calc(100vh - 74px);
    background-color: rgba(0, 0, 0, .7);
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*height:100%;    */
    overflow-y:auto;
}

.form {
    margin: 2em inherit;
}

h1, h2, h3 {
    margin: 1.5em inherit .5em;
    text-align: left;
    /*font-family: monospace, 'Courier New';*/
    color:antiquewhite;
    /*text-shadow: 1px 1px 15px burlywood;*/
    text-shadow: 1px 1px 15px rgba(197, 140, 101, 1);
    letter-spacing: 2px;    
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(250, 235, 215, 0), rgba(250, 235, 215, 0.75), rgba(250, 235, 215, 0));
    background-image:    -moz-linear-gradient(left, rgba(250, 235, 215, 0), rgba(250, 235, 215, 0.75), rgba(250, 235, 215, 0));
    background-image:     -ms-linear-gradient(left, rgba(250, 235, 215, 0), rgba(250, 235, 215, 0.75), rgba(250, 235, 215, 0));
    background-image:      -o-linear-gradient(left, rgba(250, 235, 215, 0), rgba(250, 235, 215, 0.75), rgba(250, 235, 215, 0));    
    margin: 1em auto;
}

p, label {
    text-align: left;
    margin: 1em 0;
    padding: .5em;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.wrap p:first-of-type {
    text-align: center;
}

.modal p {
    text-align: left !important;
}

a {
    /*color:white;*/
    text-shadow: 1px 1px 1px black;
    text-decoration: underline rgba(0,0,0,.5)
}

a:hover {
    text-decoration:none;
    background-color: rgba(0,0,0,.5);
}


input,
fieldset input{
    display: block;
    margin: 1em inherit;
    font-size:1em;
}

button,
fieldset button {
    display: block;
    margin: 1em auto;
    font-size:1em;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    color: #6E4716;
    background-color: antiquewhite;
    border: 3px solid #6E4716;
    border-radius: 6px;
}

button:hover,
fieldset button:hover{
    color:antiquewhite;
    background-color: #D08654;
}

div.tc input,
div.tc label {
    display: inline-block;
    margin: 0;
}

div.tc input {
/*    float:left;
    margin: -2em 0 0 .5em;*/
    display: inline;
}

div.tc label {
    display: inline;
    /*margin: 6px 0 0 30px;*/
}

#submit {
    visibility: hidden;
}





div.form {
    position:relative;
}

input[type="file"],
input#files {
    width: 97%;
    font-family: monospace, 'Courier New';    
    padding: .4em;
    color: #6E4716;
    background-color: antiquewhite;
    border: 3px solid #6E4716;
    border-radius: 6px;   
}


#list {
    display: block;
    height: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    margin: 5px auto;
    padding: 1em 1em 1em 2em;
    text-align: left;

}

#list ul li,
#list ul li strong {
    font-family: monospace, 'Courier New';
    font-size: 1em;
    letter-spacing: 1px;
    color:antiquewhite;
    color: aqua;
    font-weight: 400;
}

#progress {
    visibility: hidden;
    width: 100%;
    margin: 10px auto;
    padding: 16px 0 0 0;
    background-color: transparent;
    border: 3px solid #808080;
    border-radius: 5px;
    height: 30px;
    min-height: 20px;
    text-align: center;
    position: relative;
    color:aqua;
}

#progress span.numbers {
    margin: auto;
    padding: 3px;
    position: relative;
    z-index: 2;
    color: rgba(240, 233, 190, 1);
}

#p_bar {
    background-color:rgba(0, 255, 255, 0.4);
    min-width: 0px;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}

ul.links {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    margin: 0;
    width: 100%;
    background: rgba(0, 0, 0, .85);
    border-bottom: 5px solid black;
    padding: 10px 0;
    text-transform: uppercase;
}

ul.links li:first-of-type {
    text-align: left;
    float:left;
    text-transform: initial;
    font-family: monospace, 'Courier New';
    font-weight: 400;
    color:burlywood;
    text-shadow: 1px 1px 15px antiquewhite;
    letter-spacing: 2px;
/*    text-align: left;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px 10px;;    
    border-radius: 10px;   */ 
}

ul.links li {
    display: inline;
    margin: 0;
    padding: 5px 10px;
    float:right;
}

ul.links li:hover {
    cursor:pointer;
    /*background: rgba(0, 0, 0, 0.5);  */
}

ul.links li a {
    text-decoration: none;
}

ul.links li a:hover {
    color: #0FF;
}

.warning {
    background:rgba(0,0,0,.5);
    color:red;
}

.status_err {
    background-color: red;
    color:white;
}

.status_ok {
    background-color: green;
    color:white;
}

.nonAus {
    background-color: rgba(255, 165, 0, 0.3); /* orange */
}

.modal {
    /*position: absolute;*/
    display:none;
}

.modal ul {
    text-align: left;
    margin: 0 5%;
}

#app {
    display: block;
}


table {
    border-collapse: collapse;
}

table.sample {
    width: 100%;
    max-width: 620px;
    border-top: 3px solid antiquewhite;
    font-size: .8em;
}

table.sample thead {
    background-color:rgba(0,0,0,.4);;
}

table.sample th,
table.sample td {
    padding: 3px 10px;
    border-top: 1px dotted antiquewhite;
    border-right: 1px dotted antiquewhite;
}

table.sample th:last-of-type,
table.sample td:last-of-type {
    border-right:none;
}

tr.explanation td{
    font-family: monospace, 'Courier New';
    background-color: rgba(0, 0, 0, 0.4);
}

code {
    font-family: monospace, 'Courier New';
    
}


#download {
    display:none;
}
